@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');

.box{
    font-family: "Roboto Slab", Arial;
    font-size: 34px;
    font-weight: bold;
    color: darkgreen;
    background-color: aquamarine;
    border-color: darkgreen;
    border-style: solid;
    border-width: 3px;
    width: 200px;
    padding: 20px;
    margin: auto;
    margin-top: 50px;
    text-align: center;
}
body{
    font-family: "Roboto Slab"
}
.article{
    width: 50%;
    margin: auto;
    border: 1px solid #DDDDDD;
    border-radius: 5px;
    padding: 20px
}
.article-image{
    width: 30%;
    float: right;
    margin-left: 10px
}
@media screen and (max-width: 414px){
    .article{
        width: 100%;
        padding: 0
    }
    .article-image{
        width: 100%
    }
}

@media screen and (min-width: 415px) and (max-width: 1024){
    .article{
        width: 80%
    }
    .article-image{
        width: 40%
    }
}

.heading{
    font-family: inherit;
    color: #286657
}
.sub-heading{
    color: darkcyan
}
.article-paragraph{
    color: darkmagenta;
    text-align: justify
}